.headerTitle {
  font-size: 22px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

.headerSubtitle {
  font-size: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}

.header {
  background-image: url("/assets/img/background.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  height: 18rem;
}

.hidden {
  display: none;
}
